doctype html
html
  head
    title forEachAsync example
    script(src="bower_components/forEachAsync/forEachAsync.js")
    script(src="foreach-settimeout.js")
    script(src="foreachasync-settimeout.js")
  body
    h1 Array.prototype.forEach
    code
      pre#foreach-console
    h1 forEachAsync
    code
      pre#foreachasync-console
